@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'main.css';

body {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
    font-style: normal;
}

.media-info-msg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: brown;
}

.media-info-msg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: brown;
}

@media screen and (min-width: 450px) {
    .media-info-msg1 {
        opacity: 1;
    }
}
@media screen and (max-width: 300px) {
    .media-info-msg2 {
        opacity: 1;
    }
}
