footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding: 10px 0 30px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.454);
    background-color: aliceblue;
}

.footer-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icons {
    /* font-size: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

@keyframes icons-hovering {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.footer__icons__img {
    width: 40px;
}
.footer__icons:hover .footer__icons__img {
    animation: 2s icons-hovering;
}

.footer__icons__dsec {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}
