@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'main.css';

/* body {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
    font-style: normal;
} */

.media-info-msg1 {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: brown;
}

.media-info-msg2 {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: brown;
}

.write-btn {
    background-color: rgba(137, 43, 226, 1);
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    bottom: 140px;
    right: 20px;
    cursor: pointer;
    transition: all 2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .media-info-msg1 {
        display: flex;
    }
}
@media screen and (max-width: 360px) {
    .media-info-msg2 {
        display: flex;
    }
}
